name: Jalankan Bash2 untuk M3U8

on:
  workflow_dispatch:


jobs:
  run_bash2:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo utama
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install dependency Python
        run: |
          python3 -m pip install --upgrade pip
          pip install requests

      - name: Install yt-dlp
        run: |
          sudo wget https://github.com/yt-dlp/yt-dlp/releases/latest/download/yt-dlp \
            -O /usr/local/bin/yt-dlp
          sudo chmod +x /usr/local/bin/yt-dlp

      - name: Ambil cookies & url dari repo privat
        run: |
          git clone --depth=1 https://x-access-token:${{ secrets.TOKEN_PRIVATE }}@github.com/${{ secrets.REPO_PRIVATE }} private
          cp private/cookies.txt $HOME/cookies.txt
          cp private/TESTYT_live.txt $HOME/TESTYT_live.txt

      - name: Jalankan script Python
        run: |
          python3 bash2.py

      - name: Commit hasil jika ada perubahan
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"

          git add *.m3u8.txt .last_bash2 || true

          if git diff --cached --quiet; then
            echo "Tidak ada perubahan"
          else
            echo "Update: $(date)" > .last_bash2
            git add .last_bash2
            git commit -m "Update hasil bash2.sh $(date)"
            git push origin HEAD:master
          fi
