name: Jalankan Bash2 untuk M3U8

on:
  workflow_dispatch:
  schedule:
    - cron: '0 */3 * * *'   # setiap 3 jam


jobs:
  run_bash2:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo utama
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          
      - name: Install yt-dlp
        run: pip install -U yt-dlp

      - name: Ambil cookies & url dari repo privat
        run: |
          git clone --depth=1 https://x-access-token:${{ secrets.TOKEN_PRIVATE }}@github.com/${{ secrets.REPO_PRIVATE }} private
          cp private/cookies.txt $HOME/cookies.txt
          cp private/urls_live.txt $HOME/urls_live.txt
          cp private/base_api.txt $HOME/base_api.txt

      - name: Jalankan script bash2.sh
        run: |
          chmod +x bash2.sh
          ./bash2.sh

      - name: Commit hasil jika ada perubahan
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"

          git add *.m3u8.txt .last_bash2 || true

          if git diff --cached --quiet; then
            echo "Tidak ada perubahan"
          else
            echo "Update: $(date)" > .last_bash2
            git add .last_bash2
            git commit -m "Update hasil bash2.sh $(date)"
            git push origin HEAD:master
          fi
